/*
    Paradigm Pet Professionals
    index.css styles for index.html

    author: Brandon Jenkins
*/

#mission p, #links {
    padding: 0 2rem;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exploreImg {
    margin-top: 2rem;
    filter: grayscale(100%);
    border-radius: 0.5rem;
}

.exploreImg:hover {
    filter: grayscale(0%);
}

.imgContainer figcaption {
    font-variant: small-caps;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.075rem;
}

#links p {
    text-align: center;
}

#links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links li {
    margin: 0.5rem;
}

#links a {
    margin: 0 0.15rem;
}

#form {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#form p {
    padding: 0 2rem;
    line-height: 1.6rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0;
}

form label, button {
    margin-inline: 2rem;
    font-size: 1.4rem;
    font-variant: small-caps;
    letter-spacing: 0.05rem;
}

form input, textarea {
    width: 80%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 0.25rem;
}

form textarea {
    resize: none;
    height: 8rem;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background-color: var(--blue-sky);
    border: 1px solid var(--blue-sky);
    border-radius: 0.25rem;
    font-family: var(--font);
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
}

form button:hover {
    cursor: pointer;
    background-color: var(--midnight-blue);
    color: var(--silver);
    border: 1px solid var(--blue-sky);
}

@media only screen and (min-width: 768px) {
    #mission p {
        padding: 0 2rem;
        font-size: 1.42rem;
        line-height: 2rem;
    }
    
    #exploreImgs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 2rem 0 0 0;
    }
    
    .imgContainer {
        flex: 1 0 35%;
    }
    
    .exploreImg {
        margin-top: 3rem;
        border-radius: 0.5rem;
        width: 30rem;
        height: 20rem;
    }
    
    .exploreImg:hover {
        filter: grayscale(0%);
    }
    
    .imgContainer figcaption {
        font-variant: small-caps;
        text-align: center;
        font-size: 2.2rem;
        letter-spacing: 0.075rem;
        margin-top: 1rem;
    }
    
    #links p {
        text-align: center;
    }
    
    #links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #links li {
        margin: 0.5rem;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }
    
    #links a {
        margin: 0 0.25rem;
    }
    
    #form {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    
    #form p {
        margin-left: 2rem;
        line-height: 2rem;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 0;
    }
    
    form label {
        margin-inline: 2rem;
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
    }
    
    form input, textarea {
        width: 20%;
        margin: 0.5rem 0;
        font-size: 1.4rem;
        padding: 0.25rem 0.5rem;
    }
    
    form textarea {
        resize: none;
        height: 8rem;
    }
}